{% extends "::base.html.twig" %}

{% block title %}Admin{% endblock %}
{% block body %}
<div class="well">
<h2>Titre de niveau2</h2>

{% block menu %}
<ul class="menu nav nav-pills">
	<li>Menu1</li>
	<li>Menu2</li>
	<li>Menu3</li>
</ul>
{% endblock %}
</div>
{% endblock %}
