{% extends 'base.html.twig' %}

{% block body %}
   
        <div id="container well">
        <div class="row">
         <br>
            <div class="col-md-4">
                <ul class="list-group">
                {% for category in categories %}
                 <li class="list-group-item"> <a  href="{{category.url}}">{{category.name | upper}}</a></li>
                {% endfor %}
               </ul>
            </div>
            <div class="col-md-8">
              
            </div>
        </div>
        </div>
            
{% endblock %}

